@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


* {
        font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
}

.wrapper {
    width: 100%;
    max-width: 300px;
    background: #161616;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
}

.wrapper h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 700;
}

input {
    border: transparent;
    width: 100%;    
    font-size: 4rem;
    text-align: center;
    background-color: #161616;
    color: white;
    font-weight: 700;
    cursor: default;
}

input:focus {
    outline: none;
}

.btn-wrapper {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    width: 80px;
    height: 80px;
    font-size: 60px;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    color: #FFF;
    font-weight: 500;
}

.btn:hover {
    background: hsl(0, 0%, 10%);
    border: 2px solid white;
}

.btn:active {
    background: hsl(0, 0%, 30%);
}

.reset-btn {
    width: 100%;
    height: 60px;
    font-size: 2rem;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    color: #FFF;
    font-weight: 600;
}

.reset-btn:hover {
    background: hsl(0, 0%, 10%);
    border: 2px solid white;

}
